@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url('https://fontup.ir/css?fonts=Samim:400');

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
    font-family: 'fontawesome', sans-serif;
}

body {
    font-family: 'Samim', 'Droid Arabic Naskh', ubuntu, tahoma, sans-serif;
    direction: rtl;
    background: #26d0b9 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}
